In [1]:
%pip install --upgrade pip
%pip uninstall -y pandas
%pip install pandas numpy

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (25.3)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
WARNING: Skipping pandas as it is not installed.
WARNING: Skipping pandas as it is not installed.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Collecting pandas
Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
  Downloading pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy
  Downloading numpy-2.3.5-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/amanpurohit/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting numpy
  Downloading numpy-2.3.5-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/amanpurohit/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/amanpurohit/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/amanpurohit/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 0.0/10.7 MB ? eta -:--:--Downloading pandas-2.3.3-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 5.4 MB/s  0:00:01m0:00:010:01
Downloading numpy-2.3.5-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 5.4 MB/s  0:00:01
Downloading numpy-2.3.5-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 5.2 MB/s  0:00:00 eta 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 5.2 MB/s  0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.3.5 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]
Successfully installed numpy-2.3.5 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [13]:
df = pd.read_csv("../dataset/cost-of-living.csv")  
print(df.shape)
print(df.iloc[:, 0])  # First column
df.head()

(55, 161)
0                          Meal, Inexpensive Restaurant
1     Meal for 2 People, Mid-range Restaurant, Three...
2        McMeal at McDonalds (or Equivalent Combo Meal)
3                     Domestic Beer (0.5 liter draught)
4                     Imported Beer (0.33 liter bottle)
5                        Coke/Pepsi (0.33 liter bottle)
6                            Water (0.33 liter bottle)
7                             Milk (regular), (1 liter)
8                      Loaf of Fresh White Bread (500g)
9                                   Eggs (regular) (12)
10                                   Local Cheese (1kg)
11                             Water (1.5 liter bottle)
12                           Bottle of Wine (Mid-Range)
13                     Domestic Beer (0.5 liter bottle)
14                    Imported Beer (0.33 liter bottle)
15                        Cigarettes 20 Pack (Marlboro)
16                     One-way Ticket (Local Transport)
17          Chicken Breasts (Boneless, Skinless), (1kg)
18                         Monthly Pass (Regular Price)
19                                   Gasoline (1 liter)
20                                      Volkswagen Golf
21                 Apartment (1 bedroom) in City Centre
22              Apartment (1 bedroom) Outside of Centre
23                Apartment (3 bedrooms) in City Centre
24             Apartment (3 bedrooms) Outside of Centre
25    Basic (Electricity, Heating, Cooling, Water, G...
26    1 min. of Prepaid Mobile Tariff Local (No Disc...
27    Internet (60 Mbps or More, Unlimited Data, Cab...
28                Fitness Club, Monthly Fee for 1 Adult
29                Tennis Court Rent (1 Hour on Weekend)
30                Cinema, International Release, 1 Seat
31               1 Pair of Jeans (Levis 501 Or Similar)
32     1 Summer Dress in a Chain Store (Zara, H&M, ...)
33             1 Pair of Nike Running Shoes (Mid-Range)
34                 1 Pair of Men Leather Business Shoes
35    Price per Square Meter to Buy Apartment in Cit...
36    Price per Square Meter to Buy Apartment Outsid...
37               Average Monthly Net Salary (After Tax)
38    Mortgage Interest Rate in Percentages (%), Yea...
39                           Taxi Start (Normal Tariff)
40                             Taxi 1km (Normal Tariff)
41                   Taxi 1hour Waiting (Normal Tariff)
42                                         Apples (1kg)
43                                        Oranges (1kg)
44                                         Potato (1kg)
45                                     Lettuce (1 head)
46                                 Cappuccino (regular)
47                                  Rice (white), (1kg)
48                                         Tomato (1kg)
49                                         Banana (1kg)
50                                          Onion (1kg)
51    Beef Round (1kg) (or Equivalent Back Leg Red M...
52    Toyota Corolla 1.6l 97kW Comfort (Or Equivalen...
53    Preschool (or Kindergarten), Full Day, Private...
54     International Primary School, Yearly for 1 Child
Name: Unnamed: 0, dtype: object

,Unnamed: 0,"Saint Petersburg, Russia","Istanbul, Turkey","Izmir, Turkey","Helsinki, Finland","Chisinau, Moldova","Milan, Italy","Cairo, Egypt","Banja Luka, Bosnia And Herzegovina","Baku, Azerbaijan",...,"Lviv, Ukraine","Novosibirsk, Russia","Bursa, Turkey","Brussels, Belgium","Jerusalem, Israel","Melbourne, Australia","Perth, Australia","Sydney, Australia","Alexandria, Egypt","Quito, Ecuador"
0,"Meal, Inexpensive Restaurant",7.34,4.58,3.06,12.00,4.67,15.0,3.38,3.58,5.27,...,3.75,5.72,3.82,15.0,15.56,10.22,12.43,11.81,2.81,3.59
1,"Meal for 2 People, Mid-range Restaurant, Three...",29.35,15.28,12.22,65.00,20.74,60.0,17.48,22.99,23.73,...,18.76,22.01,11.47,60.0,62.24,49.54,56.55,54.37,14.06,31.45
2,McMeal at McDonalds (or Equivalent Combo Meal),4.40,3.82,3.06,8.00,4.15,8.0,4.51,3.58,4.22,...,3.56,3.67,3.06,8.2,12.97,7.12,7.32,7.15,3.38,5.39
3,Domestic Beer (0.5 liter draught),2.20,3.06,2.29,6.50,1.04,5.0,1.69,1.02,0.84,...,1.50,1.10,2.37,4.0,7.26,5.57,5.90,4.97,1.69,1.35
4,Imported Beer (0.33 liter bottle),2.20,3.06,2.75,6.75,1.43,5.0,2.82,1.53,2.11,...,1.50,2.20,3.06,4.0,7.26,5.57,5.59,4.97,2.81,2.70

In [14]:
df = df.copy()

# Rename first column to "item"
df.rename(columns={"Unnamed: 0": "item"}, inplace=True)

# Set item as index (rows = items)
df.set_index("item", inplace=True)

print(df.index[:5])   # item names
print(df.columns[:5]) # city names

Index(['Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)'],
      dtype='object', name='item')
Index(['Saint Petersburg, Russia', 'Istanbul, Turkey', 'Izmir, Turkey',
       'Helsinki, Finland', 'Chisinau, Moldova'],
      dtype='object')

In [9]:
# Transpose: now rows = cities, columns = items
city_df = df.T

city_df.index.name = "City"
print(city_df.shape)      # ~ (161, 55)
print(city_df.columns[:5])  # the item names as features
city_df.head()

(160, 55)
Index(['Meal, Inexpensive Restaurant',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)'],
      dtype='object', name='item')

item,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),Eggs (regular) (12),...,Lettuce (1 head),Cappuccino (regular),"Rice (white), (1kg)",Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child"
City,,,,,,,,,,,,,,,,,,,,,
"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,1.18,...,0.86,1.96,0.92,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86
"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,1.62,...,0.61,1.84,1.30,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43
"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,1.51,...,0.57,1.56,1.31,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41
"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,2.02,...,2.30,3.87,2.13,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00
"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,1.11,...,0.84,1.25,0.93,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30

In [15]:
city_df.isna().sum()

item
Meal, Inexpensive Restaurant                                                  0
Meal for 2 People, Mid-range Restaurant, Three-course                         0
McMeal at McDonalds (or Equivalent Combo Meal)                                0
Domestic Beer (0.5 liter draught)                                             0
Imported Beer (0.33 liter bottle)                                             0
Coke/Pepsi (0.33 liter bottle)                                                0
Water (0.33 liter bottle)                                                     0
Milk (regular), (1 liter)                                                     0
Loaf of Fresh White Bread (500g)                                              0
Eggs (regular) (12)                                                           0
Local Cheese (1kg)                                                            0
Water (1.5 liter bottle)                                                      0
Bottle of Wine (Mid-Range)                                                    0
Domestic Beer (0.5 liter bottle)                                              0
Imported Beer (0.33 liter bottle)                                             0
Cigarettes 20 Pack (Marlboro)                                                 0
One-way Ticket (Local Transport)                                              0
Chicken Breasts (Boneless, Skinless), (1kg)                                   0
Monthly Pass (Regular Price)                                                  0
Gasoline (1 liter)                                                            0
Volkswagen Golf                                                               0
Apartment (1 bedroom) in City Centre                                          0
Apartment (1 bedroom) Outside of Centre                                       0
Apartment (3 bedrooms) in City Centre                                         0
Apartment (3 bedrooms) Outside of Centre                                      0
Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment      0
1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)                 0
Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)                        0
Fitness Club, Monthly Fee for 1 Adult                                         0
Tennis Court Rent (1 Hour on Weekend)                                         0
Cinema, International Release, 1 Seat                                         0
1 Pair of Jeans (Levis 501 Or Similar)                                        0
1 Summer Dress in a Chain Store (Zara, H&M, ...)                              0
1 Pair of Nike Running Shoes (Mid-Range)                                      0
1 Pair of Men Leather Business Shoes                                          0
Price per Square Meter to Buy Apartment in City Centre                        0
Price per Square Meter to Buy Apartment Outside of Centre                     0
Average Monthly Net Salary (After Tax)                                        0
Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate    0
Taxi Start (Normal Tariff)                                                    0
Taxi 1km (Normal Tariff)                                                      0
Taxi 1hour Waiting (Normal Tariff)                                            0
Apples (1kg)                                                                  0
Oranges (1kg)                                                                 0
Potato (1kg)                                                                  0
Lettuce (1 head)                                                              0
Cappuccino (regular)                                                          0
Rice (white), (1kg)                                                           0
Tomato (1kg)                                                                  0
Banana (1kg)                                                                  0
Onion (1kg)                                                                   0
Beef Round (1kg) (or Equivalent Back Leg Red Meat)                            0
Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)                      0
Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child           0
International Primary School, Yearly for 1 Child                              0
cost_of_living_score                                                          0
dtype: int64

In [16]:
# Target: typical cost across all items
city_df["median"] = city_df.median(axis=1)

In [17]:
city_df.head()

item,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Domestic Beer (0.5 liter draught),Imported Beer (0.33 liter bottle),Coke/Pepsi (0.33 liter bottle),Water (0.33 liter bottle),"Milk (regular), (1 liter)",Loaf of Fresh White Bread (500g),Eggs (regular) (12),...,"Rice (white), (1kg)",Tomato (1kg),Banana (1kg),Onion (1kg),Beef Round (1kg) (or Equivalent Back Leg Red Meat),Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child","International Primary School, Yearly for 1 Child",cost_of_living_score,median
City,,,,,,,,,,,,,,,,,,,,,
"Saint Petersburg, Russia",7.34,29.35,4.40,2.20,2.20,0.76,0.53,0.98,0.71,1.18,...,0.92,1.91,0.89,0.48,7.18,19305.29,411.83,5388.86,4.40,4.40
"Istanbul, Turkey",4.58,15.28,3.82,3.06,3.06,0.64,0.24,0.71,0.36,1.62,...,1.30,0.80,1.91,0.62,9.73,20874.72,282.94,6905.43,3.82,3.82
"Izmir, Turkey",3.06,12.22,3.06,2.29,2.75,0.61,0.22,0.65,0.38,1.51,...,1.31,0.70,1.78,0.58,8.61,20898.83,212.18,4948.41,3.06,3.06
"Helsinki, Finland",12.00,65.00,8.00,6.50,6.75,2.66,1.89,0.96,2.27,2.02,...,2.13,2.91,1.61,1.25,12.34,24402.77,351.60,1641.00,8.00,8.00
"Chisinau, Moldova",4.67,20.74,4.15,1.04,1.43,0.64,0.44,0.68,0.33,1.11,...,0.93,1.56,1.37,0.59,5.37,17238.13,210.52,2679.30,3.61,3.61

In [23]:
city_df.columns

Index(['meal_inexpensive', 'meal_midrange_2p', 'mcmeal', 'beer_domestic',
       'beer_imported_bottle', 'soda', 'Water (0.33 liter bottle) ', 'milk',
       'bread', 'eggs', 'cheese', 'water_large', 'wine',
       'beer_domestic_bottle', 'beer_imported_bottle', 'cigarettes',
       'ticket_oneway', 'chicken', 'monthly_pass', 'gasoline',
       'volkswagen_golf', 'apt1_centre', 'apt1_outside', 'apt3_centre',
       'apt3_outside',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'fitness_club', 'tennis_court', 'cinema', 'jeans', 'summer_dress',
       'nike_shoes', 'leather_shoes', 'sqm_buy_centre', 'sqm_buy_outside',
       'salary',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'taxi_start', 'taxi_1km', 'taxi_wait', 'apples', 'oranges', 'potatoes',
       'lettuce', 'cappuccino', 'rice', 'tomatoes', 'bananas', 'onions',
       'beef', 'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'intl_primary_school', 'cost_of_living_score', 'median'],
      dtype='object', name='item')

In [18]:
rename_map = {
    "Meal, Inexpensive Restaurant": "meal_inexpensive",
    "Meal for 2 People, Mid-range Restaurant, Three-course": "meal_midrange_2p",
    "McMeal at McDonalds (or Equivalent Combo Meal)": "mcmeal",
    "Domestic Beer (0.5 liter draught)": "beer_domestic",
    "Imported Beer (0.33 liter bottle)": "beer_imported",
    "Coke/Pepsi (0.33 liter bottle)": "soda",
    "Water (0.33 liter bottle)": "water_small",
    "Milk (regular), (1 liter)": "milk",
    "Loaf of Fresh White Bread (500g)": "bread",
    "Eggs (regular) (12)": "eggs",
    "Local Cheese (1kg)": "cheese",
    "Water (1.5 liter bottle)": "water_large",
    "Bottle of Wine (Mid-Range)": "wine",
    "Domestic Beer (0.5 liter bottle)": "beer_domestic_bottle",
    "Imported Beer (0.33 liter bottle)": "beer_imported_bottle",
    "Cigarettes 20 Pack (Marlboro)": "cigarettes",

    "One-way Ticket (Local Transport)": "ticket_oneway",
    "Monthly Pass (Regular Price)": "monthly_pass",
    "Gasoline (1 liter)": "gasoline",

    "Taxi Start (Normal Tariff)": "taxi_start",
    "Taxi 1km (Normal Tariff)": "taxi_1km",
    "Taxi 1hour Waiting (Normal Tariff)": "taxi_wait",

    "Volkswagen Golf": "volkswagen_golf",
    "Toyota Corolla 1.6l 97kW Comfort": "toyota_corolla",

    "Apartment (1 bedroom) in City Centre": "apt1_centre",
    "Apartment (1 bedroom) Outside of Centre": "apt1_outside",
    "Apartment (3 bedrooms) in City Centre": "apt3_centre",
    "Apartment (3 bedrooms) Outside of Centre": "apt3_outside",

    "Basic (Electricity, Heating, Cooling, Water, Garbage)": "utilities_basic",
    "Price per Square Meter to Buy Apartment in City Centre": "sqm_buy_centre",
    "Price per Square Meter to Buy Apartment Outside of Centre": "sqm_buy_outside",

    "Preschool (or Kindergarten), Full Day, Private": "preschool",
    "International Primary School, Yearly for 1 Child": "intl_primary_school",

    "Average Monthly Net Salary (After Tax)": "salary",
    "Mortgage Interest Rate in Percentages (%), Yearly": "mortgage_rate",

    "1 Pair of Jeans (Levis 501 Or Similar)": "jeans",
    "1 Summer Dress in a Chain Store (Zara, H&M, ...)": "summer_dress",
    "1 Pair of Nike Running Shoes (Mid-Range)": "nike_shoes",
    "1 Pair of Men Leather Business Shoes": "leather_shoes",

    "Fitness Club, Monthly Fee for 1 Adult": "fitness_club",
    "Tennis Court Rent (1 Hour on Weekend)": "tennis_court",
    "Cinema, International Release, 1 Seat": "cinema",

    "Apples (1kg)": "apples",
    "Oranges (1kg)": "oranges",
    "Potato (1kg)": "potatoes",
    "Lettuce (1 head)": "lettuce",
    "Cappuccino (regular)": "cappuccino",
    "Rice (white), (1kg)": "rice",
    "Tomato (1kg)": "tomatoes",
    "Banana (1kg)": "bananas",
    "Onion (1kg)": "onions",
    "Chicken Breasts (Boneless, Skinless), (1kg)": "chicken",
    "Beef Round (1kg) (or Equivalent Back Leg Red Meat)": "beef"
}

In [19]:
city_df.rename(columns=rename_map, inplace=True)

In [22]:
city_df.columns

Index(['meal_inexpensive', 'meal_midrange_2p', 'mcmeal', 'beer_domestic',
       'beer_imported_bottle', 'soda', 'Water (0.33 liter bottle) ', 'milk',
       'bread', 'eggs', 'cheese', 'water_large', 'wine',
       'beer_domestic_bottle', 'beer_imported_bottle', 'cigarettes',
       'ticket_oneway', 'chicken', 'monthly_pass', 'gasoline',
       'volkswagen_golf', 'apt1_centre', 'apt1_outside', 'apt3_centre',
       'apt3_outside',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'fitness_club', 'tennis_court', 'cinema', 'jeans', 'summer_dress',
       'nike_shoes', 'leather_shoes', 'sqm_buy_centre', 'sqm_buy_outside',
       'salary',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'taxi_start', 'taxi_1km', 'taxi_wait', 'apples', 'oranges', 'potatoes',
       'lettuce', 'cappuccino', 'rice', 'tomatoes', 'bananas', 'onions',
       'beef', 'Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       'intl_primary_school', 'cost_of_living_score', 'median'],
      dtype='object', name='item')

In [ ]:
rename= {
    "Water (0.33 liter bottle)": "water",
    "Toyota Corolla 1.6l 97kW Comfort (Or Equivalent New Car)": "avg_car_price",
    "Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child": "avg_pre_school",
    "intl_primary_school": "avg_primary_school",
    "Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment": "avg_utilities",
    "1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans)": "avg_mobile_minute",
    "Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)": "avg_internet",
    "Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate": "interest_rate"




}